.bg-footer {
    background-color: #263d4a;
}

.btn-success {
    background-color: #97c93e;
}

.bg-total {
    background-color: #cce5ff;
    border: #b8daff;
    font-family : Arial, Helvetica, sans-serif;
}

.row {
    padding-bottom: 25px;
}

.total {
  
    margin: 27px 1px 23px 1px;
    font-size: 35px;
}


